.container-fluid{
     position: relative;
     text-align: center;
     font-family: 'Source Sans Pro', serif;
     font-size: 22px;
     overflow: visible;
}
.image{
     height: 100%;
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}
.no-padding,
.work-heading {
    padding-left: 0;
    padding-right: 0;
}

#mTitle {
    /* margin-top: 50%; */
    padding-top: 50px
}

#mlogo {
    margin-top: 14%;
    padding-bottom: 110px;

}

#mouse_click {
    margin-top: 250px;
}
#about_us,
#what_we_do {
    margin-top: 60px;
}

#services {
    height: 50%;
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;

}


#mservices,
#we_do {
    margin-top: 0px;
}

#themessage {
    padding-top:    80px;
    padding-bottom:    50px;
}
.hidden-content {
    display: none;
}

#mcontact {
    height: 60%;
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    margin-top: 70px;
}

.mForm {
    padding-top: 70px;
}

form#contact-form::-webkit-input-placeholder {
   
    color: white;
}

form#contact-form :-ms-input-placeholder {

    color: white;
}

form#contact-form ::placeholder {
    color: white;
}

.isInput,
.isInput:focus {
    background-color: transparent;
    color: #fff
}
